.project-content{
  display: flex;
  flex-direction: column;
  align-items:center;
  
  color: var(--beige);
  font-family: var(--font-text);
  font-size: 1.1rem;
  line-height: 1.5rem;

  height: 470px;
  width: 750px;

  overflow-y: scroll;
}

.project-title{
  font-family: var(--font-primary);
}

.project-img{
  width: 400px;
}

.project-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 700px;
  height: 470px;
  
  border: 5px inset var(--beige)  ;
  border-radius: 1rem;
  
  padding: 1rem;

  margin-bottom: 1rem;
}

.project-container:hover{
  background-color: #c89b4807; 
}

.project-title{
  margin-bottom: 1rem;
}

.project-description{
  bottom: 85px;
  position: relative;
  padding: 1rem 240px 1rem 0rem
}

.project-buttons{
  position: relative;
  bottom: 60px;
}




/*     SCROLL    */

.project-content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.project-content::-webkit-scrollbar:vertical {
  width:10px;
}

.project-content::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.project-content::-webkit-scrollbar:horizontal {
  height: 10px;
}

.project-content::-webkit-scrollbar-thumb {
  background-color: var(--light-brown);
  border-radius: 20px;
  border: 2px solid var(--beige);
}

.project-content::-webkit-scrollbar-track {
  border-radius: 10px;  
}