/* global variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none
}
a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: unset
}



/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Odibee+Sans&family=Roboto:ital,wght@1,300&display=swap');


/* colors and fonts variables  */
body {
  --dark: #011a2c;
  --brown: #352423;
  --beige: #f6f7ee;
  --light-brown: #c89b48;
  --font-primary: 'Koulen', cursive;
  --font-secondary: 'Odibee Sans', cursive;
  --font-text: 'Roboto', sans-serif;
}

::selection{
  background: var(--beige);
  color: var(--dark)
}


